# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
INHERIT: mkdocs/base.yml  # use the shared AutoRA configuration by default

site_name: AutoRA Workflow

nav:
- Introduction: 'index.md'
- Interactive:
    - 'interactive/basic-usage.ipynb'
    - 'interactive/passing-static-parameters.ipynb'
    - "interactive/accessing-state-dependent-properties.ipynb"
    - "interactive/using-alternative-planners-and-executors.ipynb"
    - "interactive/saving-and-loading-dill.ipynb"
- Command line:
    - "Basic Usage": "cli/basic-usage/index.ipynb"
    - "With Cylc and Conda": "cli/with-cylc-conda/index.ipynb"

