name: Test with py.test

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main


jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
    - run: pip install ".[test]"
    - run: pytest --doctest-modules
